extends ./_base/_layout
block append vars
  - var path = './';
block title
  title= title
block append meta
block append link
  link(rel="stylesheet" href=`${path}assets/css/style.css`)
block body
  .wrapper
    .canvas-wrapper
      canvas#canvas
    p.caption
      |Spine トランスフォームコンストレイントのテスト
      br
      |きりたんが描画されている枠内にマウスをホバーすると、きりたんがマウスに目線を合わせます
block append script
  script(src=`${path}assets/js/main.js`)